body{
    background-color: rgb(255, 255, 255);
    
}
.container {
    column-width: 700px;
    column-gap: 10px;
    
    }
    
    .card {
    background-color: rgb(3, 159, 52);
    border: 2px solid rgba(6, 197, 60, 0.728);
    padding: 10px;
    margin: 0 0 1em 0;
    border-radius: 15px 65px;
    }
    div{
    color: rgb(253, 255, 254);
    border-bottom: 20px;
    text-align: center;
    
}
img{
	position: absolute; 
	left: 580px; /* posiciona a 90px para a esquerda */ 
	top: 270px; /* posiciona a 70px para baixo */
	
    
    width: 680px;
    height: 400px;
}
h1{
    color: green;
    position: absolute;
    left: 40px;
}
p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

